{% load custom_tag %}

<!DOCTYPE html>

<html>
    {% include  "head.html" %}

    <body>

        {% include  "navbar.html" %}

        <div class="bg-black h-80 w-full">
            <ul class = "grid grid-cols-2 gap-4 bg-black">
                <li class="bg-black mt-10 mx-10 text-slate-50 text-justify">
                    {% spotlight_product_description %}
                </li>
                <li class="bg-black mt-10 mx-10 text-slate-50 text-justify">
                    Imagen
                </li>
            </ul>

        </div>
    
    </body>
</html>