<!DOCTYPE html>

<html>
    {% include  "head.html" %}

    <body>

        {% include  "navbar.html" %}
        <br>
        
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow"></div>
            <div class="mr-60">
                <div class="relative">
                    <div class="flex inset-y-0 left-0 items-center pl-3">
                        <a href="{% url 'productsCreate' %}" class="inline-block text-md px-4 py-2 leading-none border rounded text-blue-700 border-blue-700 hover:border-transparent hover:text-white hover:bg-blue-700 mt-4 lg:mt-0">
                            + Add product
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        {% for result in results %}
            <a href="#" class="flex flex-col ml-64 w-2/3 h-72 items-center bg-gray-800 border-gray-700 rounded-lg border shadow-md md:flex-row hover:bg-gray-100 hover:bg-gray-700">
                <img class="object-cover w-full h-auto rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg" src="https://images.unsplash.com/photo-1553062407-98eeb64c6a62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80" alt="a">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{result.name}}</h5>
                    <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{result.price}}</h6>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{result.description}}</p>
                </div>
            </a>
        {% empty %}
            <a href="#" class="flex flex-col ml-64 w-2/3 h-72 items-center bg-gray-800 border-gray-700 rounded-lg border shadow-md md:flex-row hover:bg-gray-100 hover:bg-gray-700">
                <img class="object-cover w-full h-auto rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg" src="https://images.unsplash.com/photo-1553062407-98eeb64c6a62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2574&q=80" alt="a">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{result.name}}</h5>
                    <h6 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{result.price}}</h6>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{result.description}}</p>
                </div>
            </a>
        {% endfor %}

        {% include "paginator.html" %}
    </body>
</html>